@model ErrorViewModel

@{
    ViewData["Title"] = "ERROR";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<hr />
<h2>An error occurred while processing your request.</h2>

@if (Model.ShowRequestId) {
    <p>
        <strong>Request ID: &emsp;&emsp;&ensp;</strong> <code>@Model.RequestId</code>
    </p>
    <p>
        <strong>Error Message: &emsp;</strong> <code>@Model.Message</code>
    </p>
}