@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2>Sales Web MVC App from C# Course</h2>
    <p>Professor @ViewData["Professor"]</p>
    <p>More information: <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a> documentation.</p>
</div>
